@import "src/styles/mediaQuery";

.main {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  //column-gap: 24px;
}

.contentSide {
  width: 100%;
}

@media (min-width: $minXL) {
  .contentSide {
    width: calc(100% - 375px);
  }
}
@media (max-width: $maxL) {
  .contentSide {
    width: calc(100% - 273px);

  }
}
@media (max-width: $maxM) {
  .contentSide {
    width: calc(100% - 184px);
  }
}
@media (max-width: $maxS) {
  .contentSide {
    width: 100%
  }
}
