@import 'src/styles/mediaQuery';

.aboutMeContainer {
  padding-top: 60px;
}
.safeAreaContainer {
  width: 100%;
  padding-right: 24px;
}
.projectsContainer, .coursesContainer, .skillsContainer {
  padding-top: 90px;
}

@media (max-width: $maxL) {
  .projectsContainer, .coursesContainer, .skillsContainer {
    padding-top: 90px;
  }
  .coursesContainer {
    padding-bottom: 80px;
  }
}

@media (max-width: $maxM) {
  .coursesContainer {
    padding-bottom: 72px;
  }
}
@media (max-width: $maxS) {
  .projectsContainer, .coursesContainer, .skillsContainer {
    padding-top: 80px;
  }
  .coursesContainer {
    padding-bottom: 56px;
  }
  .safeAreaContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .skillsContainer {
    padding-left: 16px;
  }
}

@media (min-width: $minL) {
  .safeAreaContainer {
    padding-right: 65px;
  }
}
