@import 'src/styles/mediaQuery';

.aboutMeContainer {
  padding-top: 60px;
}
.safeAreaContainer {
  width: 100%;
  padding-right: 24px;
}
.projectsContainer {
  padding-top: 90px;
}

@media (min-width: $minL) {
  .safeAreaContainer {
    padding-right: 65px;
  }
}
