@import 'src/styles/mediaQuery';

.navMenuContainer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    position: fixed;
    margin-top: 260px;
    li {
      list-style: none;
    }
  }
}

@media (min-width: $minXL) {
  .navMenuContainer {
    width: 375px;
  }
}
@media (max-width: $maxL) {
  .navMenuContainer {
    //width: 375px;
    width: 273px;

  }
}
@media (max-width: $maxM) {
  .navMenuContainer {
    width: 184px;
  }
}
@media (max-width: $maxS) {
  .navMenuContainer {
    display: none;
  }
}
