.squareCard {
  padding: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  & > p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  &.primary {
    background-color: var(--color-primary);
  }
  &.secondary {
    background-color: #2C862A;
  }
  &.secondary2 {
    background-color: var(--color-secondary2);
  }
  &.secondary3 {
    background-color: var(--color-secondary3);
  }
}
